<% include partials/header %>

<header class="jumbotron">
         <div class="container">
             <h1>Welcome To Node Pokedex!</h1>
             <h2>This is the Home with all the pokemons on the databases</h2>
             <p>
                <a class="btn btn-primary btn-large" href="/pokemons/new">Add New Pokemon</a>
             </p>
         </div>
     </header>


<div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% pokemons.forEach(function(pokemon){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= pokemon.img %>">
                   <div class="caption">
                       <h4><%= pokemon.name %></h4>
                   </div>
                   <p>
                       <a href="/pokemons/<%= pokemon.numero %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>