  <h1>New pokemon Form</h1>

<form action="/pokemons" method="POST">
    <label for="name">Name: </label>
    <input placeholder="Name" id="name" name="name">
    <label for="number">Number :</label>
    <input type="number" name="_id" id="_id" placeholder="number">
    <label for="niveau">Niveau :</label>
    <input type="number" name="niveau" id="niveau" placeholder="niveau">
    <label for="image">image: </label>
    <input placeholder="Image Url" id="img" name="img">
    <button>Submit</button>
</form>